nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  background-color: #005fcc
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1024px) {
  body {
    font-size: 18px;
  }
}

a:focus,
button:focus,
input:focus {
  outline: 3px solid #005fcc;
  outline-offset: 2px;
}


